<img src="https://github.com/Center-for-Health-Data-Science/PythonTsunami/blob/spring2022/figures/HeaDS_logo_large_withTitle.png?raw=1" width="300">

<img src="https://github.com/Center-for-Health-Data-Science/PythonTsunami/blob/spring2022/figures/tsunami_logo.PNG?raw=1" width="600">

# Variables and Data Types

## Variable Assignment

> A variable is a named symbol that holds a value.

> Variable **containers** --> name and value

* Create variables by assigning a value to a name (just like using variables in math).
* Variable names should be meaningful, i.e. not just ``a``, ``b``, ``c``
* Variables are always **assigned** with the variable name on the left and the value on the right of the ***equals*** sign. For instance:
        
    * `a_variable = 100`  
    * assigned to other variables: `another_variable = a_variable`
    * reassigned at any time: `a_variable = 435`
    * assigning several variables at the same time: `all, at, once = 1, 130, 43`

* Variables **must** be assigned before they can be used.

In [ ]:
# Create a variable x by assigning a value to x
x = 100
print(x)

# What is the container and what are the data here?

100

## Naming restrictions

1. Variable names must start with a letter or underscore.

2. The rest of the name must consist of letters and numbers (i.e. **alphanumeric**). If you need to use a multi_word variable name, underscores can be used.
    
3. Names are case-sensitive.  

4. Each variable's name must be unique. Two variables with the same name are the same variable.

In [ ]:
# Try it out
_2x = 100
print(_2x)

# What can be the alternatives to make this variable naming work?

100

## Data Types

We'll see the common Python data types below. There are more. You can always check a variable's type with the `type()` function.

### Numbers
* `int`: an integer, e.g. `1`, `2`, `3`
* `float`: a floating point number with a decimal point, e.g. `1.2`, `2999.197`, `-160.8`

In [ ]:
# Try it out
var = -1
print(var)
print(type(var))

-1
<class 'int'>

In [ ]:
var2 = -2.099874565
print(var2)
print(type(var2))

-2.099874565
<class 'float'>

### Strings

`str`: (string) a sequence of Unicode characters, e.g. "Kate" or "程序设计".

There are different _encodings_ for characters. The default in Python 3 is the Unicode encoding which includes characters from European and Asian languages.

In [ ]:
my_string = "Hello world!"
print(my_string)
print(type(my_string))

Hello world!
<class 'str'>

String literals in Python can be declared with either single or double quotes.
    
    my_other_str = 'a hat'
    my_str = "a cat"

You can use a mix to include literal qoutes in the string:

In [ ]:
my_string = "I said 'Good Morning'."
my_string

"I said 'Good Morning'."

You can integrate variables into a string by using formatted string syntax:

In [ ]:
i = 5
f'The value of i is {i}'

'The value of i is 5'

### Booleans

`bool`: True or False

In [ ]:
bool_var = True
print(bool_var)
print(type(bool_var))

True
<class 'bool'>

# Operators

## Math Operators

You can do math between variables of the `int` or `float` type:

- addition: `+`
- subtraction: `-`
- multiplication: `*`
- division: `/`
- integer division: `//`
- exponentiation, power: `**`
- modulo: `%`

The usual rules of algebra apply.

In [ ]:
a = 5
b = 3
a + b

8

In [ ]:
a - b

2

In [ ]:
a / b

1.6666666666666667

In [ ]:
a**2

25

In [ ]:
c = 1.4

a + c

6.4

Strings can also be added:

In [ ]:
string_1 = 'Hello'
string_2 = 'World'

string_1 + string_2

'HelloWorld'

# Reading error messages

Let's talk about error messages! They look red and scary, but they're actually just here to help you. Error messages tell you that you are trying to do something that is either not allowed, not possible, ambiguous, not meaningful or written using the wrong syntax.  
  
You will encounter error messages **ALL THE TIME**; especially when learning to program, but also as an advanced programmer. That's why it's worth knowing how the read them.


***
Look at the error message below. You can find the most important piece of information **on the last line: this is the actual error** and this is where you should always look first. In the part above the last line, you can see in which line of your program the error occurs in.

```python
---------------------------------------------------------------------------
ZeroDivisionError                         Traceback (most recent call last)
<ipython-input-10-bc757c3fda29> in <module>
----> 1 1 / 0                                     # the arrow points towards the line where the error occurs

ZeroDivisionError: division by zero               # this is the actual type of error
```

In [ ]:
# let's see what types of error messages there are

In [ ]:
j

NameError: name 'j' is not defined

In [ ]:
1 / 0

ZeroDivisionError: ignored

In [ ]:
1 %% 2

SyntaxError: invalid syntax (3511733814.py, line 1)

In [ ]:
my_string = "Hello world!"
my_string + 1

TypeError: can only concatenate str (not "int") to str

# Exercise

_~ 10 minutes_

Please complete the four steps below.

1. Use a number of your choice and store it in a variable. Multiply that variable by ``2`` and print this new variable.
2. Use a second number of your choice and multiply it with the initial variable used in (1).
3. Find out if the result is even (divisible by 2) or odd. _Hint: Use the [modulo](https://www.khanacademy.org/computing/computer-science/cryptography/modarithmetic/a/what-is-modular-arithmetic) operator to find out if the number if even or odd._
4. What is the type of the final variable?

In [10]:
test_variable = 8

print(test_variable*2)

test_var2 = 8*2

print

test_var3 = test_variable * 8

tv4 = test_var3 % 2 #note that % is the modulo operator here. We see that

type(tv4) #the final variable here is an interger (makes sense as it is a number we get out)

16

int

In [11]:
8*2*8

64.0